@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.container-home {

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #39289F;
    color: white
}

.container-home main{
    flex: 1;
}

.container-form{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
    background: linear-gradient(#2211E7, #383837);
}

/* HEADER */

header {
    padding: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contact-button{

}

#joystick{
    position: absolute;
    width: 806px;
    height: 761px;
    left: 772px;
    top: 0px;
}

/* INDEX - MAIN */

nav a{
    padding: 10px;
    text-decoration: none;
}

#box1{
    display: flex;
}

#box1 img{
    z-index: -1000;
}

#box2{
    display: flex;
    justify-content: space-between;
}

#box2 figure{
    display: inline-block;
}

#top-box2{
    display: flex;
    justify-content: space-between;
}

.fundo{
    z-index: -1000;
    height: 100%;
    width: 100%;
}

/* FORM - MAIN */

#fbox1{
    width: 100%;
    height: 100%;
}

#fbox2{
    background: #1C140F;
    width: 100%;
    height: 100%;
    padding: 3.5rem 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fbox2 h1{
    font-size: 30px;
}

form{
    display: flex;
    max-width: 50rem;
    width: 100%;
    flex-wrap: wrap;
    padding: 1%;
    justify-content: space-between;
    border: 0;
    flex-grow: 1;
    margin-top: 5%;
    gap: 1.5rem;
}

form label{
    margin-bottom: 0.5rem;
    font-size: 14px;
    color: #4F4F4F;
}

form input{
    display: block;
    color: white;
    background: #4F4F4F;
    border-color: #CECECE;
    border-radius: 9px;
    padding: 1rem;
}

.username{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 0;
    flex-wrap: wrap;
}

.username input{
    min-width: 23rem;
}

.email input{
    min-width: 48.5rem;
    flex-wrap: wrap;
}

form textarea{
    display: block;
    color: white;
    background: #4F4F4F;
    border-color: #CECECE;
    border: 0.6%;
    border-radius: 9px;
    padding: 0.5rem;
    width: 100%;
    min-width: 48.5rem;
    min-height: 10rem;
}

#register{
    color: white;
    background-color: #DC7000;
    border-radius: 10px;
    border: 0;
    padding: 1rem 2rem;
    margin: 2% 0;
    margin-left: auto;
}

/* FOOTER */
footer{
    background-color: #070707;
    color: white;
    width: 100%;
}

.foot-box{
    height: 20.5rem;
    display: flex;
    flex-flow: wrap;
    padding: 3rem;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    box-sizing: border-box;
}

#logo{
    width: 25vw;
}

#logo h3{
    font-size: 24px;
}

#contact{
    width: 19vw;
}

ul{
    list-style-type: none;
    padding: 0;
}

#social{
    display: flex;
    flex-flow: wrap;
    width: 250px;
    height: 100px;
    padding-top: 12rem;
}

#copyright{
    display: flex;
    justify-content: center;
    font-size: 13px;
    padding: 1.5rem;
}

@media screen and (max-width: 768px) {
    .foot-box{
        display: inline-block;
    }
}