@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}


/* ====== HEADER ====== */
header{
    padding: 2.5rem 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 25vw;
    font-size: 29px;
    font-weight: bolder;
}

.menu{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 4.5rem;
}

.menu a{
    color: white;
}

.contact-button{
    background-color: #FA9021;
    color: white;
    border-radius: 9px;
    padding: 1rem 2.5rem;
    font-size: 13px;
}

nav a{
    padding: 10px;
    text-decoration: none;
}

/* ====== MAIN ====== */
main{
    display: flex;
    flex-flow: wrap;
    width: 100%;
    min-height: 100vh;
}

.container-form{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: white;
    background: linear-gradient(#2211E7, #383837);
}

/* BOX 1 */
#fbox1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 3.5rem 10rem;
    gap: 1.5rem;
    margin-bottom: 5rem;
}

#linking{
    display: flex;
    gap: 0.5rem;
}

#contact-color{
    color: #E47500;
}

#lorem{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 1rem;
}

#lorem h1{
    font-size: 33px;
}

#map{
    padding: 5rem 0 2.5rem;
}

#info-fbox1{
    width: 100%;
    display:flex;
    justify-content: space-evenly;
}

#info-fbox1 hr{
    color: #FFFFFF;
}

.info{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    gap: 1rem;
}

#follow{
    display: flex;
    flex-wrap: wrap;
    width: 20vw;
    gap: 1rem;
}

/* BOX 2 */
#fbox2{
    background: #1C140F;
    width: 100%;
    height: 100%;
    padding: 0rem 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#line1{
    position: absolute;
    margin-left: 30rem;
}

#line2{
    position: absolute;
    margin-top: 37.5rem;
    margin-right: 60.5rem;
}

.title{
    padding-top: 4rem;
    font-size: 30px;
}

form{
    display: flex;
    max-width: 50rem;
    width: 100%;
    flex-wrap: wrap;
    padding: 1%;
    justify-content: space-between;
    border: 0;
    flex-grow: 1;
    margin-top: 5%;
    margin-bottom: 5%;
    gap: 1.5rem;
}

form label{
    margin-bottom: 0.5rem;
    font-size: 14px;
    color: #4F4F4F;
}

form input{
    display: block;
    color: white;
    background: #4F4F4F;
    border-color: #CECECE;
    border-radius: 9px;
    padding: 1rem;
}

.username{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 0;
    flex-wrap: wrap;
}

.username input{
    min-width: 23rem;
}

.email input{
    min-width: 48.5rem;
    flex-wrap: wrap;
}

form textarea{
    display: block;
    color: white;
    background: #4F4F4F;
    border-color: #CECECE;
    border: 0.6%;
    border-radius: 9px;
    padding: 0.5rem;
    width: 100%;
    min-width: 48.5rem;
    max-width: 48.5rem;;
    min-height: 15rem;
    max-height: 15rem;
}

#register{
    color: white;
    background-color: #DC7000;
    border-radius: 10px;
    border: 0;
    padding: 1rem 2rem;
    margin: 2% 0;
    margin-left: auto;
}

/* BOX 3 */
#fbox3{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    padding: 6.5rem 10rem 5rem;
}

#info-fbox3{
    max-width: 35vw;
    line-height: 2.5rem;
}

.loop{
    background-color: #1C140F;
    border-radius: 15px;
    margin-top: 5rem;
    padding: 2.5rem;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}

#stay{
    width: 32.5vw;
}

#stay-title{
    font-size: 30px;
}

#continue{
    padding: 0.5rem;
    background-color: white;
    border-radius: 8px;
}

#continue input{
    padding-left: 1rem;
    border: 0;
}

#button-continue{
    background-color: #DC7000;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
}

/* ====== FOOTER ====== */
footer{
    background-color: #070707;
    color: white;
    width: 100%;
}

.foot-box{
    height: 20.5rem;
    display: flex;
    flex-flow: wrap;
    padding: 3rem;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    box-sizing: border-box;
}

.contact{
    width: 19vw;
}

ul{
    list-style-type: none;
    padding: 0;
}

.social{
    display: flex;
    flex-flow: wrap;
    width: 250px;
    height: 100px;
    padding-top: 12rem;
}

.copyright{
    display: flex;
    justify-content: center;
    font-size: 13px;
    padding: 1.5rem;
}
