@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;1,500&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}


/* ====== HEADER ====== */
header{
    padding: 2.5rem 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 25vw;
    font-size: 29px;
    font-weight: bolder;
}

.menu{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 4.5rem;
}

.menu a{
    color: white;
}

.menu a:hover{
    scale: 1.2;
    transition: .5s;
}

.contact-button{
    background-color: #FA9021;
    color: white;
    border-radius: 9px;
    padding: 1rem 2.5rem;
    font-size: 13px;
}

.contact-button:hover{
    background-color: #c4721b;
}

nav a{
    padding: 10px;
    text-decoration: none;
}

#home-line{
    position: absolute;
    margin-right: 44rem;
    margin-top: 2.5rem;
}

/* ====== MAIN ====== */
main{
    display: flex;
    flex-flow: wrap;
    width: 100%;
    min-height: 100vh;
}

.container-home {
    margin: 0;
    padding: 0;
    background: linear-gradient(#3C2A9E, #3B2A9F);
    color: white;
    min-height: 100vh;
}

/* BOX 1 */
#box1{
    min-width: 100%;
    min-height: 100%;
    display: flex;
}

#text-box1{
    width: 50vw;
    display: flex;
    flex-flow: column wrap;
    padding: 3.5rem 8rem 0 10rem;
    justify-content: left;
    gap: 3rem;
    min-height: 100vh;
}

#proved{
    color: #E87D0E;
    font-weight: bold;
    font-size: 20px;
}

#work{
    font-size: 50px;
    font-weight: bold;
}

#details{
    color: white;
    background-color: #FA8305;
    border-radius: 40px;
    border: 0;
    padding: 1rem;
    width: 12.5vw;
    cursor: pointer;
}

#details:hover{
    background-color: #c4721b;
    scale: 1.2;
    transition: .5s;
}

#joystick{
    position: absolute;
    margin-left: 3rem;
    top: 0rem;
    z-index: -1;
}

#engines{
    position: absolute;
    margin-top: 1.5rem;
}

/* BOX 2 */
#box2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: wrap;
    padding: 0 10rem;
    gap: 3rem;
}

#top-box2{
    display: flex;
    width: 100%;
    flex-flow: wrap;
    justify-content: space-between;
    font-size: 31px;
    font-weight: bold;
}

.see{
    color: white;
    background-color: #4931cc;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Rubik';
    cursor: pointer;
}

.see:hover{
    background-color: #281888;
    scale: 1.2;
    transition: .5s;
}

#box2 figure{
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 22px;
}

#box2 img{
    cursor: pointer;
}

#box2 img:hover{
    scale: 1.2;
    transition: .5s;
}

.trend-fire{
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 0.75rem;
    padding-top: 0.5rem;
}

figcaption{
    font-family: 'Rubik';
}

.trend-fire img{
    width: 1.5rem;
    height: 1.5rem;
}

/* BOX 3 */
#box3{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 5rem 10rem 8rem;
    gap: 3rem;
}

#top-box3{
    max-width: 50vw;
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
}

#left-box3{
    max-width: 38vw;
    text-align: flex-start;
    padding-bottom: 5%;
}

#lor{
    font-weight: bolder;
    font-size: 30px;
    padding-bottom: 1rem;
}

#point{
    position: absolute;
    margin-left: 43.5rem;
    margin-bottom: 6.5rem;
    z-index: -1;
}

#box3 img{
    cursor: pointer;
}

#box3 img:hover{
    scale: 1.10;
    transition: .9s;
}

/* BOX 4 */
#background{
    background-image: url("/imgs/fundo-box4.png");
    width: 100%;
}

#box4{
    width: 100%;
    height: 100%;
    padding: 3.5rem 10rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#top-box4{
    width: 53vw;
    text-align: center;
    padding-bottom: 4rem;
}

.title{
    padding-bottom: 1rem;
    font-size: 30px;
    font-weight: bold;
}

#box4 figure{
    width: 80vw;
    display: flex;
    flex-flow: wrap;
    gap: 3.5rem 10rem;
    justify-content: center;
    text-align: center;
}

.icon-box4{
    line-height: 3rem;
}

#box4 img:hover{
    scale: 1.2;
    transition: .5s;
}

.seta{
    cursor: pointer;
}

/* BOX 5 */
#box5{
    width: 100%;
    height: 100%;
    padding: 8rem 10rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#top-box5{
    width: 45%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    text-align: center;
    padding-bottom: 5rem;
}

#box5 figure{
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    gap: 2.5rem 0;
    padding-bottom: 3rem;
}

#box5 img:hover{
    scale: 1.05;
    transition: .8s;
}

/* BOX 6 */
#box6{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    padding: 0 10rem 6rem;
}

#info-box6{
    max-width: 35vw;
}

.loop{
    background-color: #1C140F;
    border-radius: 15px;
    margin-top: 5rem;
    padding: 2.5rem;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}

#stay{
    width: 32.5vw;
}

#stay-title{
    font-size: 30px;
}

#continue{
    padding: 0.5rem;
    background-color: white;
    border-radius: 8px;
}

#continue input{
    padding-left: 1rem;
    border: 0;
}

#button-continue{
    background-color: #DC7000;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#button-continue:hover{
    background-color: #ad6517;
    scale: 1.1;
    transition: .5s;
}


/* ====== FOOTER ====== */
footer{
    background-color: #070707;
    color: white;
    width: 100%;
}

.foot-box{
    height: 18.5rem;
    display: flex;
    flex-flow: wrap;
    padding: 2rem 5rem;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.foot-box a{
    text-decoration: none;
    color: white;
}

.foot-box li{
    margin-top: 0.25rem;
}

.foot-title{
    font-size: 24px;
    font-weight:bold;
}

.foot-box div{
    height: 80%;
    display: flex;
    flex-flow: wrap;
    align-content: space-evenly;
}

ul{
    list-style-type: none;
    padding: 0;
}

.foot-logo{
    width: 20vw;
}

.contact{
    width: 19vw;
}

.contact a:hover{
    scale: 1.2;
    transition: .5s;
}

.about{
    width: 8vw;
}

.about a:hover{
    scale: 1.2;
    transition: .5s;
}

.social{
    display: flex;
    flex-flow: wrap;
    width: 250px;
    height: 100px;
    padding-top: 12rem;
}

.social a{
    cursor: pointer;
}

.social a:hover{
    scale: 1.2;
    transition: .5s;
}

.copyright{
    display: flex;
    justify-content: center;
    font-size: 13px;
    padding: 1.5rem;
}

/* ERROR - Page */
#container-error{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#error{
    width: 80%;
    height: 80vh;
}


@media screen and (max-width: 768px) {
    .foot-box{
        display: inline-block;
    }
}